* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.current-date-time {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.previous-date-time {

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 50px;
    margin-right: 50px;
}

.weather-block {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 50px;
    margin-right: 50px;
}














.time {
    font-size: 30px;
    color: blue;
}
.country-drop-down {
    font-size: 30px;
    border: none;
    background-color: red;
    opacity: .5;
}
.state-drop-down {
    font-size: 30px;
    border: none;
    background-color: blue;
    opacity: .5;
}
.city-drop-down {
    font-size: 30px;
    border: none;
    background-color: green;
    opacity: .5;
}
.submit {
    font-size: 30px;
    border: none;
    background-color: orange;
    opacity: .5;
}


.weather-icon {
    position: absolute;
    width: 100px;
    left: 500px;
}
