/*

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.current-date-time {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.previous-date-time {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 50px;
    margin-right: 50px;
}

.weather-block {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 50px;
    margin-right: 50px;
}


.weather-icon {
    position: absolute;
    width: 100px;
    left: 500px;
}














.results-container {
    display: flex;
    align-items: stretch;
    align-items: baseline;
    border: 5px solid black;
}
.chronology-slider {
    display: flex;
    flex-direction: row;
    flex: 1;

    padding: 0;
    margin-left: 2%;
    transform: rotate(90deg);
    transform-origin: left;
}
.current-block {
    display: flex;
    flex-direction: row;
    flex: 4;

    background: #00b4ff;
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 10%;
}
.previous-block {
    display: flex;
    flex-direction: row;
    flex: 1;

    background: #ccc;
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 10%;
}

.time {
    font-size: 20px;
    text-align: center;
}
.wind-data {
    text-align: right;
    margin-top: -104px;
}

#map {
    position: absolute;
    top: -1px;  For some reason this allows map to render with position absolute rather than relative to rest of app
    left: -20%;  These properties push zoom and branding of map outside the viewport
    width: 120%;  These properties push zoom and branding of map outside the viewport
    height: 120%;  These properties push zoom and branding of map outside the viewport
    z-index: -1;
    opacity: .3;
}




*/

html {
    overflow: hidden;
}

body {
    color: #000;
    font-size: 16px;
    text-shadow: 0px 0px 5px rgba(255,255,255,.8);
    margin: 0;
    line-height: 1.4;
}

.map {
    position: fixed;
    top: -28%;
    left: -20%;
    width: 140%;
    height: 135%;
    z-index: -5;
    opacity: .3;
}




.input-container {
    display: flex;
}



.results-container {
    height: 100vh; /* Make container height equal to and responsive to viewport height */
    min-width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.current-block {
    display: flex;
    flex: 1;
    min-height: 270px;
    flex-direction: column;
    padding-left: 8%;
    margin-bottom: -54px;
    /* background-color: blue; This value will be set according to sky condition data */
}
.chronology-slider {
    display: flex;
    flex: 1;
    transform: rotate(180deg);
    margin-left: 8%;
    width: 82%;
    margin-top: -56px;

}
.previous-block {
    display: flex;
    flex: 1;
    min-height: 270px;
    flex-direction: column;
    padding-left: 8%;
    margin-bottom: 10%;
    /* background-color: gray; This value will be set according to sky condition data */
}

.weather-block {
    margin-top: -30px;
}
.time {
    position: relative;
    color: red;
    top: -16px;
    left: 104px;
}
.wind-data {
    position: relative;
    top: -67px;
    left: 160px;
}






.country-drop-down {
    font-size: 30px;
    border: none;
    background-color: red;
    opacity: .5;
}
.state-drop-down {
    font-size: 30px;
    border: none;
    background-color: blue;
    opacity: .5;
}
.city-drop-down {
    font-size: 30px;
    border: none;
    background-color: green;
    opacity: .5;
}
.submit {
    font-size: 30px;
    border: none;
    background-color: orange;
    opacity: .5;
}
